.root {
  margin-top: 20%;
  text-align: center;

  button {
    width: 250px;
    height: 90px;
    font-size: 40px;
    border-radius: 25px;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0px 0px 21px 4px rgba(25, 48, 65, 0.689);
    outline: none;
    border: none;
    &:hover {
      background-color: #23c483;
      color: white;
      transform: scale(1.1);
      box-shadow: 0px 0px 25px 8px rgba(15, 32, 45, 0.689);
    }
  }
}
