.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(251, 172, 94);
  background: linear-gradient(
    82deg,
    rgba(251, 172, 94, 1) 7%,
    rgba(176, 131, 177, 1) 35%,
    rgba(41, 178, 155, 1) 60%
  );
}

.container {
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactList,
.contactInfo {
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: 10px 0px 21px 4px rgba(34, 60, 80, 0.41);
}

.contactList {
  width: 30%;

  .listTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      border: none;
      border-radius: 6px;
      height: 25px;
      width: 80%;
      padding: 10px;
    }

    button {
      margin-left: 5px;
      width: 17%;
      height: 25px;
      border: none;
      border-radius: 5px;
      background-color: white;
      font-size: 15px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #d2fb91d3;
      }
    }
  }

  .contactItem {
    border-radius: 5px;
    background: rgba(253, 253, 253, 0.449);
    margin: 10px auto;
    padding: 5px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: white;
    }

    span {
      padding: 10px;
      font-weight: 350;
    }
  }
}

.contactInfo {
  width: 65%;

  .contactName,
  .contactNumber,
  .contactEmail {
    text-align: center;
    margin: 20px;
    border: 1px solid rgba(154, 154, 154, 0.379);
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      border: 1px solid rgba(119, 119, 119, 0.703);
    }

    h1 {
      font-weight: 250;
      font-size: 35px;
      color: rgb(145, 12, 12);
      margin: 5px auto;
    }

    p {
      font-size: 22px;
      font-weight: 300;
    }
  }

  .chooseContact {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
}
